<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neks.com |<%= title %></title>
</head>
<body>
    <% const name = 'classic' %>
    <h2>404</h2>
    <p>oops! this page doesn't exist.</p>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
        </ul>
    </nav>
    <p><%= name%></p>
</body>
</html>